.main-hero
  .landing-greeting-container
    %h1.landing-greeting-title.hero-text  {{greeting.title}}
    %p.landing-greeting-message.hero-text
      {{greeting.message}}
    %p.hero-attribution.hero-text
      {{greeting.hero.attribution}}
