%header.default-header
  %nav.top-nav
    .navItem this is the nav
  %a.header-logo(href="{{logo.link.href}}" title="logo.link.title")
    %img.header-logo-img(src="{{logo.img.src}}" alt="{{logo.img.alt}}")
