
%footer.footer-container.row
  .footer-nav-content
  .footer-logo-content
    %a.footer-logo(href="{{logo.link.href}}" title="logo.link.title")
      %img.footer-logo-img(src="{{logo.img.src}}" alt="{{logo.img.alt}}")
  .footer-legal-content
  .footer-copyright-content
    %p.footer-copyright-text {{footer.copyright-text}}
