
%section.full-width-action-content.row
  %p.full-width-action-text.small-18.large-9.columns {{this.text}}
  %h2.full-width-action-title.small-18.medium-5.medium-offset-3.large-4.large-offset-0.columns {{this.title}}
  .full-width-action-action.small-18.medium-10.large-5.columns
    %a.action-link.button.round(href='{{this.link.href}}') {{this.link.text}}
