.about-features-container {
  margin-top: rem-calc(12);
}

.about-heading {
  text-align: center;

  @media #{$large-up} {
    text-align: left;
  }
}

.about-text {
  padding-left: rem-calc(20);

  @media #{$large-up} {
    text-align: left;
  }
}

@media #{$small-only} {
  .features-list-items {
    margin: 0 auto;
    max-width: 80%;
  }
}
