
.callout-box {
  padding: rem-calc(25 0);
  @media #{$large-up} {
    min-height: rem-calc(240);
  }
}

.callout-title {
  width: 100%;
  text-align: center;
}

.callout-text {
  margin: 0;
  padding: rem-calc(0 35);
  width: 100%;
  text-align: center;
  @media #{$medium-only} {
    padding: rem-calc(25 200);
  }
}

.landing-callout {
  background-color: rgb(230, 230, 230);
  border-bottom: 3px solid #FFF;
}

@media #{$large-up} {
  .callout-1 {
    border-left: 3px solid #FFF;
    border-right: 3px solid #FFF;
  }
}

// .callout-0 {
//   background-color: rgb(200, 230, 193);
// }

// .callout-1 {
//   background-color: rgb(197, 241, 255);
// }

// .callout-2 {
//   background-color: rgb(255, 210, 153)
// }

