.main-hero {
  background-image: url('../../images/home/home-hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF;
}

.landing-greeting-title {
  color: #FFF;
}

@media #{$medium-up} {
  .main-hero {
    height: rem-calc(400);
  }

  .landing-greeting-container {
    margin-top: rem-calc(100);
  }
}
