.main-hero {
  background-color: #FFF;
  background-image: url('../images/home/home-hero-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  color: #FFF;
  @include clearfix();
}

.hero-text, .action-text {
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.247059) 0px 0px 20px, rgba(255, 255, 255, 0.121569) 0px -0.7776000499725342px 0px, rgba(0, 0, 0, 0.247059) 0px 0.7776000499725342px 0px;
  text-align: center;
}

.action-text {
  font-size: rem-calc(25);
}

.action-link {
  margin: 0 auto;
  margin-bottom: rem-calc(20);
  display: block;
  width: rem-calc(250);
  font-size: rem-calc(25);
}

.landing-greeting-container {
  margin-top: rem-calc(15);
}

.landing-greeting-title {
  width: 100%;
}

.landing-greeting-message {
  margin: 0 auto;
  padding: rem-calc(0 14);
  max-width: #{upper-bound($small-range)};
  font-weight: 100;
}

.hero-attribution {
  font-size: 0.5rem;
  color: #666;
}

@media #{$medium-up} {
  .main-hero {
    min-height: rem-calc(300);
  }

  .landing-greeting-container {
    margin-top: rem-calc(25);
    margin-left: rem-calc(55);
  }

  .landing-greeting-message {
    font-size: 1.5rem;
    line-height: 1.9;
  }
}
